.page-header
  %h1
    = title @game.name
    %small= t(".all_nodes")
%table.table.table-hover
  %thead
    %tr
      %th #
      %th= t(".content")
      %th
  %tbody
    - @nodes.each do |node|
      %tr
        %td= link_to node.id, [@game, node]
        %td= node.content
        %td
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{ data: { toggle: :dropdown } }
              %span.caret
            %ul.dropdown-menu{ role: :menu }
              %li= action_link_to :show, [@game, node], class: ""
              %li= action_link_to :edit, [:edit, @game, node], class: ""
              %li.divider
              %li= action_link_to :set_as_first, [:set_as_first, @game, node], class: ""
              %li= action_link_to :destroy, [@game, node], class: "",
                    method: :delete, data: { confirm: t("questions.confirm") }


