.col-sm-3
  .panel.panel-default
    .panel-heading.text-center
      = image_tag @user.avatar.default.url, class: "img-thumbnail"
      .stars= stars(@user.average_mark)
      %h1= title @user.nickname
    .panel-body
      = action_link_to :edit, edit_user_registration_path, if: can?(:edit, @user)
      = action_link_to t(".new_game"), new_game_path, if: can?(:create, @user.games.build)
      
.col-sm-9
  .panel.panel-default
    .panel-heading
      %h2= t(".created_games")
    .panel-body
      = render @user_games
      
.col-sm-9
  .panel.panel-default
    .panel-heading
      %h2= t(".favorite_games")
    .panel-body
      = render @user_favorite_games
