.jumbotron
  %h1= title "Tales"
  %p
    = t(".welcome")
  - unless current_user
    = link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary"
    = link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary"
    
.col-md-12
  .panel.panel-default
    .panel-heading
      %h2= link_to t(".most_popular_games"), games_path
    .panel-body
      = render @most_popular_games, column_size: 4
.col-md-6
  .panel.panel-default
    .panel-heading
      %h2= t(".most_popular_authors")
    .panel-body
      = render @most_popular_authors
.col-md-6
  .panel.panel-default
    .panel-heading
      %h2= link_to t(".latest_games"), games_path(latest: true)
    .panel-body
      = render @latest_games
