%p= t(".hello", email: @resource.email)
%p= t(".reset_requested")
%p= link_to t(".change_password"), edit_password_url(@resource, :reset_password_token => @token)
%p= t(".optional_ignore")
%p= t(".click_above_to_change_password")
